// Colors & backgrounds
$logo-color: #797F84;
$plan-5-color: #519251;
$plan-25-color: #2C4985;
$plan-45-color: black;
$descrip-text-color: #445359;
$low-plan-color: #519251;
$mid-plan-color: #2C4985;
$high-plan-color: black;
$plans-border-color: #E8E8E8;
$header-background: "src/background.jpg";

$font: sans-serif;

// Initialize
a {
	font-family: $font;
	color: grey;
}


// Styling

nav {
	height: 44px;
	background-color: white;
	display: inline;

	a {
		text-decoration: none;
	}

	.make-standout {
		font-size: 18px;
		color: $logo-color;
	}

	.dif-color {
		color: black;
	}
}


header {
	height: 200px;
	box-sizing: border-box;
	background-image: url($header-background);
	padding: 6% 25%;
	line-height: 200px;
	vertical-align: middle;


	h1 {
			color: white;
			font-family: $font;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			line-height: normal;
		}
	// div {
	

	// 	h1 {
	// 		color: white;
	// 		font-family: $font;
	// 		font-weight: normal;
	// 		text-align: center;
	// 		vertical-align: middle;
	// 	}
	// }
}


.plans {
	height: 1824px;
	background-color: white;
	padding: 10px;
	// border: 2px solid black;

	.plan {
		height: 590px;
		background-color: white;
		margin: 34px 0px;
		border: 1px solid $plans-border-color;
		
		.deal {
			height: 220px;
			box-sizing: border-box;
			text-align: center;
			background-color: green;
			padding: 38px 34%;

			span {
				color: white;
				font-family: $font;
			}

			.client {

			}

			.cost {
				font-size: 90px;
			}

			.time-unit {
				font-size: 18px;
			}
		}

		.low {
			background-color: $low-plan-color;
			padding: 35px 38%;
		}

		.mid {
			background-color: $mid-plan-color;
		}

		.high {
			background-color: $high-plan-color;
		}

		.options {
			height: 270px;
			margin: 0;
			padding: 0;

			div {
				height: 45px;
				background-color: #F7F7F7;
				color: $descrip-text-color;
				text-align: center;
				font-family: $font;
				padding: 0;
				line-height: 45px;
				vertical-align: middle;
				border: 1px solid $plans-border-color;
			}
		}

		.choose {
			height: 90px;
			box-sizing: border-box;
			border: 1px solid $plans-border-color;
			margin-top: 10px ; 
			padding-top: 25px;

			
			a {
				text-decoration: none;
			}


			.choose-btn {
				height: 36px;
				width: 95px;
				border-radius: 28px;
				border: 2px solid $plans-border-color;
				font-family: $font;
				font-size: 15px;
				font-weight: bold;
				text-decoration: none;
				color: black;
				text-align: center;
				line-height: 36px;
				margin: 0 auto;
				text-decoration: none;

			}
		}
	}
}



.info {
	height: 1120px;
	padding: 54px 20px 20px;
	margin-top: 37px;

	.info-section {
		
		height: 277px;
		background-color: white;
		margin: 2px; 
		font-family: $font;

		.info-tag {
			height: 37px;
			font-size: 20px;
			letter-spacing: 3px;
			padding-top: 40px;
		}

		.info-description {
			height: 200px;
			color: $descrip-text-color;
			padding-top: 0px;
		}


	}
}


footer {
	height: 98px;
	background-color: black;
	text-align: center;



	p {
		color: grey;
		font-family: $font;


		a {
			color: white;
		}
	}
}






