a {
  font-family: sans-serif;
  color: grey; }

nav {
  height: 24px;
  background-color: white;
  padding: 5px 0 8px 10px; }

nav a {
  text-decoration: none;
  margin-right: 25px; }

nav .make-standout {
  font-size: 16px;
  color: #797F84; }

nav .dif-color {
  color: black; }

header {
  height: 200px;
  box-sizing: border-box;
  background-image: url("src/background.jpg");
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

header h1 {
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 0px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }

.plans {
  height: 1824px;
  background-color: white;
  padding: 10px; }

.plans .plan {
  height: 590px;
  background-color: white;
  margin: 34px 0; }

.plans .plan .deal {
  height: 220px;
  box-sizing: border-box;
  text-align: center;
  background-color: green;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.plans .plan .deal span {
  color: white;
  font-family: sans-serif; }

.plans .plan .deal .client {
  letter-spacing: 5px; }

.plans .plan .deal .cost {
  font-size: 100px;
  font-weight: lighter; }

.plans .plan .deal .time-unit {
  font-size: 18px; }

.plans .plan .low {
  background-color: #519251; }

.plans .plan .low .time-unit {
  color: #A9C9A9; }

.plans .plan .mid {
  background-color: #2C4985; }

.plans .plan .mid .time-unit {
  color: #94A2C1; }

.plans .plan .high {
  background-color: black; }

.plans .plan .high .time-unit {
  color: #8C8C8C; }

.plans .plan .options {
  height: 270px;
  margin: 0;
  padding: 0; }

.plans .plan .options div {
  height: 45px;
  background-color: #F7F7F7;
  color: #445359;
  text-align: center;
  font-family: sans-serif;
  padding: 0;
  line-height: 45px;
  vertical-align: middle;
  border: 1px solid #E8E8E8; }

.plans .plan .choose {
  height: 90px;
  box-sizing: border-box;
  border: 1px solid #E8E8E8;
  margin-top: 10px;
  padding-top: 25px; }

.plans .plan .choose a {
  text-decoration: none; }

.plans .plan .choose .choose-btn {
  height: 36px;
  width: 95px;
  border-radius: 28px;
  border: 2px solid #E8E8E8;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
  line-height: 36px;
  margin: 0 auto;
  text-decoration: none; }

.info {
  box-sizing: border-box;
  height: 900px;
  margin-top: 57px;
  margin-bottom: 20px; }

.info .info-section {
  height: 210px;
  background-color: white;
  margin: 8px 2px 2px 2px;
  font-family: sans-serif;
  padding-left: 5px;
  display: flex;
  flex-direction: column; }

.info .info-section h3 {
  font-family: sans-serif;
  font-weight: normal;
  letter-spacing: 2px; }

.info .info-section p {
  color: #445359;
  line-height: 1.5em; }

footer {
  height: 98px;
  background-color: black;
  text-align: center;
  line-height: 68px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

footer p {
  color: grey;
  font-family: sans-serif;
  line-height: 25px; }

footer p a {
  color: white; }

@media (min-width: 479px) {
  header {
    height: 400px; }
  header h1 {
    font-size: 47px; } }

@media (min-width: 479px) and (min-width: 767px) {
  .plans {
    height: 650px;
    text-align: center; }
  .plans .plan {
    box-sizing: border-box;
    width: 33%;
    display: inline-block;
    padding: 0 5px 0 5px; }
  .plans .plan .deal .client-box {
    height: 10%;
    padding: 15% 0 0 0; }
  .plans .plan .deal .cost-box {
    height: 30%; }
  .plans .plan .deal .time-box {
    height: 30%;
    padding: 25% 0 0 0; }
  .info {
    height: 570px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center; }
  .info .info-section {
    height: 260px;
    box-sizing: border-box;
    max-width: 48%;
    display: inline-block;
    padding: 0 50px;
    margin-bottom: 10px;
    vertical-align: top;
    text-align: left; }
  footer {
    height: 75px; } }

@media (min-width: 479px) and (min-width: 767px) and (min-width: 979px) {
  .content {
    width: 979px;
    margin: 0 auto; }
  .content .plans .plan {
    width: 310px; }
  .content .info {
    height: 480px;
    padding: 28px 0 0 0; }
  .content .info .info-section {
    height: 200px;
    margin-top: 0; } }
