// Breakpoint 1

// Colors & backgrounds
$logo-color: #797F84;
$plan-5-color: #519251;
$plan-25-color: #2C4985;
$plan-45-color: black;
$descrip-text-color: #445359;
$low-plan-color: #519251;
$mid-plan-color: #2C4985;
$high-plan-color: black;
$plans-border-color: #E8E8E8;
$low-plan-time-unit-color: #A9C9A9;
$mid-plan-time-unit-color: #94A2C1;
$high-plan-time-unit-color: #8C8C8C;
$header-background: "src/background.jpg";

$font: sans-serif;

// Initialize
a {
	font-family: $font;
	color: grey;
}


// Styling for Mobile

nav {
	height: 24px;
	background-color: white;
	padding: 5px 0 8px 10px;

	a {
		text-decoration: none;
		margin-right: 25px;
	}

	.make-standout {
		font-size: 16px;
		color: $logo-color;
	}

	.dif-color {
		color: black;
	}
}


header {
	height: 200px;
	box-sizing: border-box;
	background-image: url($header-background);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		color: white;
		font-family: $font;
		font-weight: normal;
		line-height: 0px; 
		text-shadow: 1px 1px 0 rgba( 0, 0 , 0 , 0.50)
	}
}


.plans {
	height: 1824px;
	background-color: white;
	padding: 10px;

	.plan {
		height: 590px;
		background-color: white;
		margin: 34px 0px;
		
		.deal {
			height: 220px;
			box-sizing: border-box;
			text-align: center;
			background-color: green;
			

			span {
				color: white;
				font-family: $font;
			}

			.client-box {
				height: 8%;
				padding-top: 5%;

				.client {
					letter-spacing: 5px;
				}
			}

			.cost-box {
				height: 40%;

				.cost {
					font-size: 100px;
					font-weight: lighter;
				}
			}


			.time-box {
				height: 20%;
				padding: 4%;

				.time-unit {
					font-size: 18px;
				}
			}
		}

		.low {
			background-color: $low-plan-color;
			

			.time-unit{
				color: $low-plan-time-unit-color;
			}
		}

		.mid {
			background-color: $mid-plan-color;
			 

			.time-unit{
				color: $mid-plan-time-unit-color;
			}
		}

		.high {
			background-color: $high-plan-color;

			.time-unit{
				color: $high-plan-time-unit-color;
			}
		}

		.options {
			height: 270px;
			margin: 0;
			padding: 0;

			div {
				height: 45px;
				background-color: #F7F7F7;
				color: $descrip-text-color;
				text-align: center;
				font-family: $font;
				padding: 0;
				line-height: 45px;
				vertical-align: middle;
				border: 1px solid $plans-border-color;
			}
		}

		.choose {
			height: 90px;
			box-sizing: border-box;
			border: 1px solid $plans-border-color;
			margin-top: 10px ; 
			padding-top: 25px;

			
			a {
				text-decoration: none;
			}


			.choose-btn {
				height: 36px;
				width: 95px;
				border-radius: 28px;
				border: 2px solid $plans-border-color;
				font-family: $font;
				font-size: 15px;
				font-weight: bold;
				text-decoration: none;
				color: black;
				text-align: center;
				line-height: 36px;
				margin: 0 auto;
				text-decoration: none;
			}
		}
	}
}



.info {
	height: 760px;
	padding: 54px 20px 20px;
	margin-top: 57px;
	margin-bottom: 15px;

	.info-section {
		height: 187px; 
		background-color: white;
		margin: 2px; 
		font-family: $font;
		padding-left: 5px;

		h3 {
			font-family: $font;
			font-weight: normal;
			letter-spacing: 2px;
		}

		p {
			color: $descrip-text-color;
			line-height: 1.5em;
		}
	}
}


footer {
	height: 68px;
	background-color: black;
	text-align: center;
	line-height: 68px;
	padding: 10px 10% 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 68px;

		p {
			color: grey;
			font-family: $font;
			line-height: 25px;

			a {
				color: white;
			}
		}
}

// BreakPoint 2
@media (min-width: 279px) {

	header {
		height: 400px;

		h1 {
			font-size: 47px;
		}
	}

	// BreakPoint 3
	@media (min-width: 767px) {

		.plans {
			height: 650px;

			.plan {
				box-sizing: border-box;
				width: 33%;
				display: inline-block;
				padding: 0 5px 0 5px;


				.deal {

					.client-box {
						height: 10%;
						padding: 15% 0 0 0;
					}

					.cost-box {
						height: 30%;
					}

					.time-box {
						height: 30%;
						padding: 25% 0 0 0;
					}
				}
			}
		}

		.info {
			height: 470px;
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;

			.info-section{
				height: 220px;
				box-sizing: border-box;
				max-width: 48%;
				display: inline-block;
				padding: 0 10px;
				margin-bottom: 10px;
			}


		}
	}

}





